* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gothic A1', sans-serif;
    max-width: 1440px;
    margin: auto;
    overflow-x: hidden;
}
.first_page {
    margin: auto;
    max-width: 1440px;
    background: url(../images/bg.png);
    background-size: cover;
}
header {
    max-width: 1152px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position:absolute;
    top:0;
    right: 0;
    left: 0;
}
.menu {
    margin-top: 40px;
}
.menu_items {
    padding-right: 30px;
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    line-height: 1;
}
.menu_items:hover:after{
    width: 70%;
    text-align: center;
}
.menu_items:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FC0A7E;
    content: "";
    transition: width 0.1s ease-out;
}
.logo {
    margin-top: 29px;
}
.logo:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main_fp {
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
}
.main_text {
    margin-top: 298px;
    color: white;
}
.button1 {
    width: 170px;
    height: 66px;
    background: #FC0A7E;
    border-radius: 3px;
    color: white;
    border: none;
    margin-top: 79px;
}

.button1:hover {
    box-shadow: 0 0 12px #6633FF;
    -moz-box-shadow: 0 0 12px #6633FF;
    -o-box-shadow: 0 0 12px #6633FF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px #6633FF;
}
.main_text1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
}

.main_text2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    width: 677px;
    position: absolute;
}
.phone {
    margin-right: -100px;
    margin-top: 120px;
    max-width: 652px;
}
.arrow {
    position: absolute;
    right: 50%;
    top: 730px;
}
.second_page {

    margin: auto;
    background-color: #1B1B1B;
}
.sp_text {
    padding-top: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
}
.sp_text2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    max-width: 607px;
    margin-left: auto;
    margin-right: auto;
}
.ipad {
    margin: auto;
    display: flex;
    justify-content: center;
}
.third_page {
    margin: auto;
    max-width: 1440px;
}
.thp_1 {
    max-width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.thp_2 {
    max-width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.thp_text {
    margin-top: 268px;
    padding-left: 58px;
    padding-right: 90px;
}
.thp_text1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    padding-bottom: 30px;
}
.thp_text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    padding-bottom: 22px;
}
.thp_text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.iphone1 {
    margin-top: 80px;
}
.iphone2 {
    margin-top: 160px;
}
.icons {
    display: flex;
    justify-content: space-between;
    max-width: 1236px;
    padding-top: 159px;
    margin: auto;
}
.icon_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-top: 40px;
}
.icon_text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    max-width: 371px;
    padding-top: 17px;
}
.icon {
    text-align: center;
}
.units {
    max-width: 1100px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    padding-top: 163px;
    text-align: center;
    margin: auto;
}
.unit {
    font-weight: 400;
    font-size: 59px;
    line-height: 90px;
    color: #333333;
}
.unit1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
}
.food_content {
    display: flex;
    max-width: 931px;
    margin: auto;
    padding-top: 160px;
}
.food_text {
    padding-left: 58px;
    padding-right: 62px;
}
.food_text1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}
.food_text2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    padding-top: 30px;
}
.food_text3{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    padding-top: 22px;
}
.coma {
    margin-top: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fp_text {
    padding-top: 66px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #6B6B6B;
}
.text_strip {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-top: 17px;
}
.strip {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 30px;
}
.brands {
    margin-top: 237px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.iphones {
    padding-top: 118px;
    padding-bottom: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.six_page {
    margin: auto;
    max-width: 1440px;
    background: url(../images/bg.png);
    background-size: cover;
}
.bg_2 {
    position: absolute;

}
.sixp_main {
    padding-top: 165px;
}
.sixp_text {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}
.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 371px;
    padding-top: 40px;
    margin: auto;
    padding-bottom: 156px;
}
.button2 {
    width: 190px;
    height: 66px;
    background: #FC0A7E;
    border-radius: 3px;
    color: white;
    border: none;
    position: relative;
}

.button2:hover {
    box-shadow: 0 0 12px #FFFFFF;
    -moz-box-shadow: 0 0 12px #FFFFFF;
    -o-box-shadow: 0 0 12px #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px #FFFFFF;
}
.button3 {
    width: 171px;
    height: 66px;
    color: #FFFFFF;
    background: none;
    border: 1px solid #B04BB3;
    box-sizing: border-box;
    position: relative;
}
.button3:hover {
    box-shadow: 0 0 12px #FFFFFF;
    -moz-box-shadow: 0 0 12px #FFFFFF;
    -o-box-shadow: 0 0 12px #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px #FFFFFF;
}
.seven_page {
    background-color: #1B1B1B;
    margin: auto;
    position: relative;
}
.sevp_content {
    text-align: center;
    padding-top: 129px;
}
.sevp_text {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #FFFFFF;
}
.sevp_text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
    color: #6B6B6B;
}
.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.mail_input {
    width: 311px;
    height: 70px;
    border: none;
    box-shadow: 0 0 0 #FC0A7E;
    border-radius: 3px 0 0 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 20px;

}
.mail_submit {
    width: 154px;
    height: 70px;
    left: 66.99%;
    right: -0.11%;
    top: 0.02px;
    border: none;
    background: #FC0A7E;
    border-radius: 0 3px 3px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.mail_submit:hover {
    box-shadow: 0 0 12px #FFFFFF;
    -moz-box-shadow: 0 0 12px #FFFFFF;
    -o-box-shadow: 0 0 12px #FFFFFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px #FFFFFF;
}
footer {
    margin-top: 126px;
}
.r {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.r:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.about {
    padding-top: 29px;
    padding-bottom: 69px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.about_items {
    font-weight: 400;
    font-size: 12px;

    text-decoration: none;

    color: #6B6B6B;
    padding-right: 30px;
    position: relative;
    cursor: pointer;
    line-height: 1;
}
.about_items:hover:after {
    width: 70%;
    text-align: center;
}
.about_items:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #6B6B6B;
    content: "";
    transition: width 0.1s ease-out;
    text-align: center;
}
.owl-dots {
    position: relative;
    width: 100%;
    margin: auto;
    left: 50%;
}
.owl-dot span{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #1B1B1B;
}
.owl-dot {

    margin-left: 10px;
    margin-top: 88px;
}
.owl-dot.active{
    display: inline-block;
    margin-left: 10px;
    margin-top: 88px;
}
.owl-dot.active span {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #22222266;
}