* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 1440px;
}
.first_page {
    margin: auto;
    max-width: 1440px;
    background: url(../images/bg.png);
    background-size: cover;
}
header {
    max-width: 1152px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position:absolute;
    top:0;
    right: 0;
    left: 0;
}
.menu {
    margin-top: 40px;
}
.menu_items {
    padding-right: 30px;
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
    line-height: 1;
}
.menu_items:hover:after{
    width: 70%;
    text-align: center;
}
.menu_items:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #FC0A7E;
    content: "";
    transition: width 0.1s ease-out;
}
.logo {
    margin-top: 29px;
}
.logo:hover {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main_fp {
    display: flex;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
}
.main_text {
    margin-top: 298px;
    color: white;
}
button {
    width: 170px;
    height: 66px;
    background: #FC0A7E;
    border-radius: 3px;
    color: white;
    border: none;
    margin-top: 79px;
}

button:hover {
    box-shadow: 0 0 12px #6633FF;
    -moz-box-shadow: 0 0 12px #6633FF;
    -o-box-shadow: 0 0 12px #6633FF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 12px #6633FF;
}
.main_text1 {
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    color: #FFFFFF;
}
.main_text2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    color: #FFFFFF;
    width: 677px;
    position: absolute;
}
.phone {
    margin-right: -100px;
    margin-top: 120px;
    max-width: 652px;
}
.arrow {
    position: absolute;
    right: 50%;
    top: 730px;
}
.second_page {

    margin: auto;
    max-width: 1440px;
    background-color: #1B1B1B;
}
.sp_text {
    padding-top: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: auto;
}
.sp_text2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    max-width: 607px;
    margin-left: auto;
    margin-right: auto;
}
.ipad {
    margin: auto;
    display: flex;
    justify-content: center;
}
.third_page {
    margin: auto;
    max-width: 1440px;
}
.thp_1 {
    max-width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.thp_text {
    margin-top: 268px;
    padding-left: 58px;
    padding-right: 90px;
}
.thp_text1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
    padding-bottom: 30px;
}
.thp_text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    padding-bottom: 22px;
}
.thp_text3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.iphone1 {
    margin-top: 80px;
}
.iphone2 {
    margin-top: 160px;
}
.icons {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    padding-top: 159px;
    margin: auto;
}
.icon_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-top: 40px;
}
.icon_text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    max-width: 371px;
    padding-top: 17px;
}
.icon {
    text-align: center;
}
.units {
    max-width: 80%;
    height: 134px;
    display: flex;
    justify-content: space-between;
    padding-top: 163px;
    text-align: center;
    margin: auto;
}
.unit {
    font-weight: 400;
    font-size: 59px;
    line-height: 90px;
    color: #333333;
}
.unit1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
}
.food_content {
    display: flex;
    max-width: 70%;
    margin: auto;
    padding-top: 160px;
}
.food_text {
    padding-left: 58px;
    padding-right: 62px;
}
.food_text1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}
.food_text2 {
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    color: #000000;
    padding-top: 30px;
}
.food_text3{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
    padding-top: 22px;
}
.coma {
    margin-top: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fp_text {
    padding-top: 66px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #6B6B6B;
}
.text_strip {
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-top: 17px;
}
.pl-20 {
    padding-left: 20px;
}
.brands {
    margin-top: 237px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}